* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "" Segoe UI ", Roboto, Helvetica, Arial, sans-serif;";
}

body {
  background-color: #f4f1ec;
  color: #111144;
  font-size: 1.2rem;
}

/* ===============================================
First test code to create top nav with
name in left corner and menu items in the right
=============================================== */
/* .header-top { */
/* display: flex; */
/* justify-content: space-around; */
/* justify-content: space-between; */
/* align-items: center;
  padding: 2px; */
/* background-color: lightgrey;
  color: black;
  height: 2rem; */
/* } */

/* .header-top ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
} */

/* ====================================================
New CSS for new design layout 
=======================================================*/

/*===================================
 TOP NAV BAR SECTION 
 ==================================*/

.about-topnav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.nav-left,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-left {
  gap: 15px;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-right {
  justify-content: flex-end;
}

.socials {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

/* ==================================
HAMBURGER MENU TOP LEFT "W3 Schools"
================================== */

.hamburger {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

.hamburger-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* =================================
DARK MODE TOGGLE MENU TOP LEFT
================================= */

/* ================================
SOCIAL LINKS
================================ */

/* ================================
HIRE ME BUTTON
================================ */
.contact:hover {
  background-color: #f98513;
  border-color: #f98513;
}

/* ================================
SIDE BAR + MAIN CONENT SECTION LAYOUT
================================ */
.page-layout {
  display: flex;
  min-height: 100%;
  margin-top: 16px;
}

/* ================================
SIDE BAR
================================ */
.side-nav {
  display: flex;
  background-color: #f4f1ec;
  padding: 12px 20px;
  position: sticky;
  top: 60px;
}

.nav-side {
  list-style: none;
  padding: 10px;
}

.nav-side button:hover {
  background-color: #f98513;
  border-color: #f98513;
  transform: translateX(5px);
}
/* ================================
MAIN CONENT SECTION
================================ */
/* main {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
} */

/* main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

main {
  flex: 1;
  background-color: #f4f1ec;
  padding: 0% 16% 80px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #f4f1ec;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 25px;
}

.about-me {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*===========================
BORDER BOX
============================ */
.about {
  border: 1px solid #ddd;
  background-color: #f4f1ec;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
}

.about h2 {
  margin-top: 0;
}

.about-me h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.about-me p {
  line-height: 1.6;
  font-size: 1.2rem;
}

.view-resume:hover {
  background-color: #f98513;
  border-color: #f98513;
}

/* ====================================
PROJECT PAGE
======================================= */
.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding: 5px;
}

.project-card {
  width: 250px;
}

.project-card img {
  max-width: 100%;
}
.product-card p {
  color: black;
}
